<div class="story-body">
  <p>According to a study by The Association of State Correctional Administrators and Yale Law School, one in three prisoners in solitary confinement has a mental illness.</p>
  <p>Here are states with the highest percentage of prisoners in solitary confinement.</p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/top_5.png"></p>
  <p> 
Here are states with the lowest percentage of prisoners in solitary confinement.
</p>
  <p style="text-align: center"><img src="images/bot_5.png"></p>
</div>